.link {
    color: white;
    position: relative;
    top: 650px;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
}

.link:hover {
    text-shadow: 3px 3px rgb(36, 35, 35);
    font-size: 130%;
}

.music {
    color: white;
    position: absolute;
    right: 100px;
    bottom: 100px;
    transition: all .2s;
    font-size: 120%;
    cursor: pointer;

}
.music:hover {
    font-size: 150%;
}

.header-content {
    align-items: center;
    margin-top: -25px;
    background: #333;
    text-align: center;
    font-size: 18px;
    height: 100vh;
    width: 100%;
    transform-style: preserve-3d;
  }
  
.header-content:before {
    animation: background-slide 3s .2s cubic-bezier(0, .5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), 
        url('./../../assets/img/background1.jpg') no-repeat bottom;
    background-size: cover;
    content: "";
    opacity: 0;
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
  
  .header-title, .header-subtitle {
    color: #fff;
  }

  .header-title {
    position: relative;
    top: 600px
  }

  .header-subtitle {
    margin-bottom: 5rem;
    text-transform: uppercase;
    position: relative;
    top: 625px;
  }

/* Anim */
@keyframes background-slide {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes hover_link {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Test */
  .Menu-list-item {
    color: white;
    position: absolute;
    top: 80%;
    left: 42%;
    text-transform: uppercase;
    color: transparent;
    cursor: pointer;
  }
  .Menu-list-item:before {
    content: '';
    /* position: relative;
    top: 650px; */
    /* margin-top: -2px; */
    /* background: #ff2c75; */
    background: linear-gradient(#e66465, #9198e5);
     /* #4cafe9; */
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    z-index: 1;
  }
  .Mask {
    /* display: block; */
    position: absolute;
    overflow: hidden;
    color: #787b7e;
    top: 0;
    height: 49%;
    transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  }
  .Mask span {
    display: block;
  }
  .Mask + .Mask {
    top: 48.9%;
    height: 51.1%;
  }
  .Mask + .Mask span {
    transform: translateY(-49%);
  }
  .Menu-list-item:hover .Mask, .Menu-list-item:active .Mask {
    color: #fff;
    transform: skewX(12deg) translateX(5px);
  }
  .Menu-list-item:hover .Mask + .Mask, .Menu-list-item:active .Mask + .Mask {
    transform: skewX(12deg) translateX(-5px);
  }
  .Menu-list-item:hover:before, .Menu-list-item:active:before {
    transform: scale(1);
  }
  


  /* Test 2 */
  .wrapper {
    position: absolute;
    left: 53%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 70px;
    white-space: nowrap;
  }
  .focus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 2px;
    filter: blur(3px);
    font-size: 65px;
    opacity: 0.6;
    color: #fff;
  }
  .mask {
    position: absolute;
    left: -5px;
    top: -2px;
    width: 70px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 65px;
    clip: rect(0px, 70px, 75px, 0px);
    background: linear-gradient(#fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat;
    background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
    color: #fff;
    padding: 5px;
    transform: translateX(0);
    box-sizing: border-box;
    animation: mask 2.5s ease infinite alternate;
  }
  .text {
    transform: translateX(0);
    animation: text 2.5s ease infinite alternate;
  }
  @keyframes mask {
    to {
      transform: translateX(325px);
    }
  }
  @keyframes text {
    to {
      transform: translateX(-325px);
    }
  }
  